body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
}



.container {
    width: 100%;
    /* margin: 0 auto; */
}

h1 {
    font-size: 2em;
    color: black;
    text-align: center;
}

h2 {
    color: #8B0000;
    padding-bottom: 5px;
    background-color: #FFFFE0;
   
}

p {
    font-size: 1em;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 30px 0;
}

table, th, td {
    border: 2px solid #121212;
}

th, td {
    padding: 8px;
    text-align: left;
}
td a{
    color: #2f7402;
    font-weight: 600;
}
td.number{
    color: #8B0000;
    text-decoration: underline;
}

th {
    background-color: #f2f2f2;

}

.database, .artificial{
    background-color: #939494;
}

.credit {
    font-weight: bold;
    text-align: center;
}

.highlight {
    color: #ff0000;
}

.highlight1 {
    color: #ff0000;
    font-weight: 700;
}

form {
    margin: 20px 0;
}

label {
    display: inline-block;
    width: 80px;
}

input {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #8B0000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #A52A2A;
}

.dog-img {
    position: absolute;
    top: 80px; 
    right: 20px; 
}

.dog-img img {
    width: 300px;
    height: auto;
}
